*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-areas:
        "header header"
        "form form"
        "nav main";
    height: 100vh;
    position: relative;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    height: 8vh;
    background: #e2e8f0;
    background: #4a84cf;
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: none;
    border-top: none;
    letter-spacing: 0.3rem;
}

/*      NAV     */
nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 79vh;
    background-color: hsla(232, 34%, 45%, 0.5);
}

.main-projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(233, 48%, 83%);
    padding: 30px;
    border-radius: 4px;
}

.nav-btn {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    margin: 5px;
    background-color: #4a84cf;
    color: white;
    letter-spacing: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    border: none;
    border-radius: 3px;
}
.anytime-btn {
    background-color: hsla(214, 100%, 50%);
}
.important-btn {
    background-color: hsl(0, 66%, 51%);
}
.nav-btn:hover {
    background-color: hsl(214, 58%, 25%);
}
.anytime-btn:hover{
    background-color: hsla(214, 100%, 30%);
}
.important-btn:hover {
    background-color: hsl(0, 66%, 31%);
}
.nav-btn:active {
    transform: scale(0.9);
}

/* NAV FILTER ICON */
.filter-icon {
    display: none;
    cursor: pointer;
    opacity: 0.8;
    max-width: 35px;
    max-height: 30px;
}
.filter-icon div {
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: #4a84cf;
    margin: 5px;
}

.filter-icon:hover div{
    background-color: hsl(214, 58%, 25%);
}

/*      MAIN    */
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.todo-list-wrapper {
    width: 100%;
    min-height: 79vh;
    position: relative;
    background-color: hsla(232, 34%, 45%, 0.5);
    overflow-y: scroll;
}


/*  FORM    */
form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(214, 32%, 91%);
    min-height: 13vh;
    padding: 0 1rem;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.todo-input {
    width: 50%;
    min-width: 300px;
    height: 50px;
    background-color: white;
    padding-left: 1rem;
    padding-right: 50px;
    margin: 1rem 0rem 1rem 1rem;
}
.todo-title {
    margin: 1rem;
    width: 20%;
    min-width: 160px;
    padding: 1rem;
}

form button {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(214, 58%, 25%);
    cursor: pointer;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin-left: -50px;
    border: 1px solid #4a84cf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

select {
    background: white;
    width: 8.5rem;
    height: 50px;
    cursor: pointer;
    padding: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.select {
    margin: 1rem;
    position: relative;
    color: hsl(214, 58%, 25%);
    /* overflow: hidden; */
}
.select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid #4a84cf;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.date-picker {
    font-size: 1rem;
    min-width: fit-content;
    min-height: 50px;
    margin: 1rem;
    padding-left: 1rem;
    letter-spacing: 1px;
}
::-webkit-calendar-picker-indicator{
    margin-left: -15px;
}

.open-form-btn {
    grid-area: form;
    display: none;
    background-color: rgba(255, 255, 255, 0);
    color: hsl(214, 58%, 25%);
    cursor: pointer;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    width: 30%;
    border: 1px solid #4a84cf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 100;
}
.open-form-btn:hover {
    background-color: #4a84cf69;
    color: hsl(214, 58%, 15%);
}
.open-form-btn:active {
    transform: scale(0.9);
}


/*  TODO LIST   */
.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    min-width: 45vw;
    list-style: none;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    padding: 5px;
    border: 3px hsla(0, 0%, 0%, 0.059) solid;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
}

.todo li {
    flex: 1;
}

.trash-button,
.complete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff7900;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.complete-button {
    background: #10cf5f;
    margin-right: 5px;
}

button.complete-button:hover {
    background: hsl(145, 86%, 35%);
}
button.trash-button:hover {
    background: hsl(28, 100%, 45%);
}

button.complete-button:active,
button.trash-button:active {
    transform: scale(0.9);
}

.todo-element-title {
    display: flex;
}

h3 {
    flex: 1;
}

/* TODO WRAPPER */
.todo-wrapper {
    margin: 20px 50px;
    padding: 5px;
    background-color: #e2e8f0;
    border-radius: 4px;
    border: 1px solid #7a7a7a;
    min-width: 250px;
}
.description-content {
    overflow: hidden;
    word-wrap: break-word;
    text-align:justify;
}

.title-content {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.todo-element-date {
    margin-top: 0;
    background-color: #00000000;
}
.date-content {
    font-size: .9rem;
    color: #3f4164;
    letter-spacing: 0.3rem;
    font-family: 'Times New Roman', Times, serif;
}


/* RESPONSIVENESS */
@media screen and (max-width: 900px) {
    /* GRID CONTAINER */
    .grid-container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 4fr;
        grid-template-areas:
            "header header"
            "form form"
            "main main";
        height: 100vh;
        position: relative;
    }
    
    /* FORM */
    form {
        flex-direction: column;
        height: min-content;
    }
    form button {
        margin: auto;
        margin-bottom: 1rem;
        display: none;
    }
    .open-form-btn {
        display: block;
        grid-area: form;
    }
    .todo-title,
    .select,
    .date-picker,
    .todo-description {
        min-width: 90%;
        display: none;
    }
    select {
        width: 100%;
    }
    .todo-input {
        margin: 1rem;
    }

    /* NAV */


    nav {
        grid-area: form;
        display: none;
        min-height: 200px;
        height: 35vh;
        z-index: 11;
        background-color: hsl(214deg 32% 91%);
    }
    .main-projects-list {
        background-color: hsl(214deg 32% 91%);
        padding: 10px;
        width: 50%;
    }
    .nav-btn {
        padding: 10px 5px;
    }

    .filter-icon {
        grid-area: form;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 40px;
        margin-right: 40px;
        z-index: 11;
    }

    .todo-wrapper {
        margin: 20px 40px;
    }
}

@media screen and (max-width: 600px) {
    .todo-wrapper {
        margin: 20px 10px;
    }
    .filter-icon {
        grid-area: form;
        display: block;
        margin: auto 10px;
    }
}